[Desktop Entry]
Encoding=UTF-8
Name=Sprite Decomposer
Comment=Decompose and create animations from a sprite sheet easily.
Exec=/usr/bin/ed_highway
Icon=ed_highway.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Games
