[Desktop Entry]
Encoding=UTF-8
Name=E:D Highway
Comment=Elite Dangerous Routes Plotter over neutron stars.
Exec=ed_highway
Icon=ed_highway
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Game;
